* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: #2ecc71;
}


// Coloring
//----------------------------------
.coloring {
  width: 100%;
  height: 100vh;
}
.coloring-canvas {
  pointer-events: none;

  &.is-active {
    pointer-events: auto;
  }
}


// menu
.coloring-menu {
  position: fixed;
  top: auto;
  left: auto;
  right: 32px;
  bottom: 32px;

  &.is-open {
    .tool {
      @for $i from 1 through 3 {
        &:nth-child(#{$i+1}){
          transition-duration: 90ms+(100ms*$i);
          transform: translate3d(-80px*$i,0,0);
          opacity: 1;
        }
      }
    }
  }
}

.coloring-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  outline: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 0px 4px 8px rgba(0,0,0,0.2);
  transition: all ease-out 200ms;
  cursor: pointer;


  &:hover {
    box-shadow: 0px 4px 6px rgba(0,0,0,0.15), 0px 6px 10px rgba(0,0,0,0.2);
  }

  &.toggle {
    position: relative;
    z-index: 10;
  }

  &.tool {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transform: translate3d(0, 0, 0);
    transition: all ease-out 200ms;

    &:hover {
      svg {
        transform: scale(1.15);
      }
    }

    &.is-active {
      background-color: lighten(#f9650c, 20%);
      svg {
        transform: scale(1.15);
      }
    }

    svg {
      transition: all 200ms ease-out;
      transform: scale(1);
    }

    @for $i from 1 through 3 {
      &:nth-child(#{$i+1}){
        transition-duration: 90ms+(40ms*$i);
        transform: translate3d(0, 0, 0);
        opacity: 0;
      }
    }
  }
}